<div class="container-fluid h-100">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <nav class="navbar navbar-light header row">
        <a class="navbar-brand bg-white col-2" href="#">
          <img src="../../../assets/ria-1.png" class="d-inline-block align-top" alt="">
        </a>
        <div class="col-2 ml-auto" *ngIf="currentUser">
          <span class="user mr-2">{{currentUser.userName}}</span>
          <button class="btn btn-secondory btn-outline-light" (click)="logout()">Logout</button>
        </div>
      </nav>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 p-0">
      <footer class="bg-secondary footer">
        <a href="#">
          <div class="text-center footer-text">© 2020 Copyright:
            <a class="footer-link" href="https://riaadvisory.com/" target="_blank"> RIA Advisory</a>
          </div>
        </a>
      </footer>
    </div>
  </div>
</div>